<!DOCTYPE  html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>User Landing</title>
<link rel="stylesheet" href="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/css/userlandstyle.css"
	type="text/css" media="screen" />
<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" media="screen" href="resourcex/css/ie8-hacks.css" />
<![endif]-->

	<script type="text/javascript" src="resources/js/basic.js"></script>
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/jquery-1.5.1.min.js"></script>
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/jquery-ui-1.8.13.custom.min.js" ></script>
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/easing.js" ></script>
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/jquery.scrollTo-1.4.2-min.js" > </script>
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/jquery.cycle.all.js" ></script>
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/custom.js"  ></script>
	
	<script src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/jquery.isotope.min.js" ></script>
	
	<link rel="stylesheet" href="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/css/tabs.css"  type="text/css" media="screen" />
	<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/tabs.js" ></script>
		
	<!-- superfish -->
		<link rel="stylesheet" media="screen" href="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/css/superfish.css"  />
		<link rel="stylesheet" media="screen" href="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/css/superfish-left.css"  /> 
		<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/superfish-1.4.8/js/hoverIntent.js" ></script>
		<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/superfish-1.4.8/js/superfish.js" ></script>
		<script type="text/javascript" src="F:/webdevprojects/web_dynam/web_dynamics_spring_fw/src/main/webapp/resources/js/superfish-1.4.8/js/supersubs.js"  ></script>
	<!-- ENDS superfish -->
	
</head>
<body class="home">
	<div id="header"> 
		<!-- wrapper-header -->
				<div class="wrapper">
					<a href="./index.jsp"><img id="logo" src="C:/Users/sysxcomintl/Desktop/webproj/logo/logo.png"  alt="WebDynamixInc" /></a>
					<!-- search -->
					<div class="top-search">
						<form  method="get" id="searchform" action="#">
							<div>
								<input type="text" value="Search..." name="s" id="s" onfocus="defaultInput(this)" onblur="clearInput(this)" />
								<input type="submit" id="searchsubmit" value=" " />
							</div>
						</form>
					</div>
					<!-- ENDS search -->
				</div>
				<!-- ENDS wrapper-header -->
	</div>
	
	<!-- Menu -->
			<div id="menu">
			
			
			
				<!-- ENDS menu-holder -->
				<div id="menu-holder">
					<!-- wrapper-menu -->
					<div class="wrapper">
						<!-- Navigation -->
						<ul id="nav" class="sf-menu">
							<li class="current-menu-item"><a href="./index.jsp">Home<span class="subheader">Welcome</span></a></li>
							<li><a href="./features.jsp">Features<span class="subheader">Awesome options</span></a>
								<ul>
									<li><a href="features-columns.jsp"><span> Columns layout</span></a></li>
									<li><a href="features-accordion.jsp"><span> Accordion</span></a></li>
									<li><a href="features-toggle.jsp"><span> Toggle box</span></a></li>
									<li><a href="features-tabs.jsp"><span> Tabs</span></a></li>
									<li><a href="features-infobox.jsp"><span> Text box</span></a></li>
									<li><a href="features-monobox.jsp"><span> Icons</span></a></li>
								</ul>
							</li>
							<li><a href="./blog.jsp">Blog<span class="subheader">Read our posts</span></a></li>
							<li><a href="./portfolio.jsp">Portfolio <span class="subheader">Showcase work</span></a></li>
							<li><a href="./gallery.jsp">Gallery<span class="subheader">Featured work</span></a>
								<ul>
									<li><a href="./gallery.jsp"><span> Four columns</span></a></li>
									<li><a href="gallery-3.jsp"><span> Three columns </span></a></li>
									<li><a href="gallery-2.jsp"><span> Two columns </span></a></li>
									<li><a href="video-./gallery.jsp"><span> Video gallery </span></a></li>
								</ul>
							</li>
							<li><a href="./contact.jsp">Contact<span class="subheader">Get in touch</span></a></li>
						</ul>
						<!-- Navigation -->
					</div>
					<!-- wrapper-menu -->
				</div>
				<!-- ENDS menu-holder -->
			</div>
			<!-- ENDS Menu -->

	<div id="content"> <p> hello I am back </p> </div>
	<div id="footer">
		<!-- wrapper-footer -->
		<div class="wrapper">
		</div>
	</div>
	
</body>
</html>