# exclude everything except directory foo/bar
/web_dynamics/build/*
/web_dynamics/WebContent/*
/web_dynamics/.gradle/*
/web_dynamics/bin/*
/web_dynamics_spring_fw/build/*
/web_dynamics_spring_fw/WebContent/*
/web_dynamics_spring_fw/.gradle/*
/web_dynamics_spring_fw/bin/*
/spring_core_dynamix/build/*
/spring_core_dynamix/bin/*
/web_dynamics_spring_fw/WebContent/*
/web_dynamixs_spring_fw/build/*
